/* Blog Grid */
.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.post-card {
    background-color: #d5996b;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    display: block;
}

.post-card img {
    width: 100%;
    height: auto;
}

.post-card h3 {
    margin: 15px 0;
}

.post-card p {
    padding: 0 15px 15px;
}

.read-more {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #cc5803;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #825965;
}