/* add your CSS here */
body{
display:block;
margin: 0 auto;
padding: 10px;
width: 75%;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

h3{
font: small-caps 24px Helvetica;
padding: 1px;
border: 1px dot-dash black;
}

img{
width: 300px;
height: 300px;
border: 1px dot-dash black;
padding: 10px;
margin: 10px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


div{
border: 1px dot-dash black;
border-radius: 5px;
padding: 5px;
margin: 5px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

p{
font: 16px Times;
}

#description{
font: italic 14px Times;
}


ul{
display: block;
list-style: none;
}

li{
text-align: left;

}

span{
font: bold 16px Times;
}

