/* Whole Document */
/*html{}*/
body{
}
header{}
main{}
section{}
div{
      padding: 2px 16px;
}
footer{}
img{
    width:200px;
    height:200px;
}
nav{
    display:flex;

}
aside{}
article{}
input{}
button{}
textarea{}


/* Elements */
h1{
 font: small-caps 28px Georgia;
}
h2{
 font: oblique 20px Optima;
}
h3{}
h4{}
h5{}
h6{}
p{
 font: 18px "Times New Roman";
}
a{
 font: 18px "Times New Roman";
}
ul{}
ol{}
li {}
span{}


.card {
  /* Add shadows to create the "card" effect */
    width:200px;
    height:450px;
     padding: 10px 16px;
    margin: 10px 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.carousel {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
}

.card {
    flex: 0 0 auto;
    scroll-snap-align: center;
    /* Add your existing .card styles here */
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    background: none;
    border: none;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* adjust as needed */
}

form {
    display: flex;
    flex-direction: column;
}