@import url('header.css');
@import url('footer.css');
@import url('author-info.css');
@import url('responsive.css');
@import url('cards.css');
@import url('carousel.css');
@import url('feature-post.css');

/* CSS HEX */
/*--tawny:#cc5803ff;*/
/*--buff: #d5996bff;*/
/*--rose-taupe: #825965ff;*/
/*--russian-violet: #2f195fff;*/
/*--fern-green: #43701fff;*/
/*--timberwolf: #dddad2ff;*/
/*--gunmetal: #232c33ff;*/
/*--harvest-gold: #cc912dff;*/

/*!* CSS HSL *!*/
/*--tawny: hsla(25, 97%, 41%, 1);*/
/*--buff: hsla(26, 56%, 63%, 1);*/
/*--rose-taupe: hsla(342, 19%, 43%, 1);*/
/*--russian-violet: hsla(259, 58%, 24%, 1);*/
/*--fern-green: hsla(93, 57%, 28%, 1);*/
/*--timberwolf: hsla(44, 14%, 85%, 1);*/
/*--gunmetal: hsla(206, 19%, 17%, 1);*/
/*--harvest-gold: hsla(38, 64%, 49%, 1);*/

/*--tawny: rgba(204, 88, 3, 1);*/
/*--buff: rgba(213, 153, 107, 1);*/
/*--rose-taupe: rgba(130, 89, 101, 1);*/
/*--russian-violet: rgba(47, 25, 95, 1);*/
/*--fern-green: rgba(67, 112, 31, 1);*/
/*--timberwolf: rgba(221, 218, 210, 1);*/
/*--gunmetal: rgba(35, 44, 51, 1);*/
/*--harvest-gold: rgba(204, 145, 45, 1);*/

body{
   background-color: #dddad2ff;
}

div{
 padding: 10px;
}


input{
    padding: 10px 16px;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 16px;
    border: solid 1px #ccc;
}
textarea{
    padding: 10px 16px;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 16px;
    border: solid 1px #ccc;
}



/* Elements */
h1{
 font: small-caps 28px Georgia;
}
h2{
 font: oblique 20px Optima;
}
h3{}
h4{}
h5{}
h6{}
p{
 font: 18px "Times New Roman";
}
a{
    text-decoration: none;
    color: rgba(47, 25, 95, 1);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ol{}
li {

}
span{}


form {
    display: flex;
    flex-direction: column;

}

form #site-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}




