/* Whole Document */
/*html{}*/
body{
}

main{}
section{}
div{
      padding: 2px 16px;
}
img{
    width:200px;
    height:200px;
    border_radius:10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


aside{}
article{}
input{
    padding: 10px 16px;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
textarea{
    padding: 10px 16px;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
button{
    padding: 10px 16px;
    margin: 10px 5px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none
}


/* Elements */
h1{
 font: small-caps 28px Georgia;
}
h2{
 font: oblique 20px Optima;
}
h3{}
h4{}
h5{}
h6{}
p{
 font: 18px "Times New Roman";
}
a{
 font: 18px "Times New Roman";
    display:box;
    justify-content:space-between;
    padding: 10px 16px;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;

}
ul{ list-style: none;}
ol{}
li {
    display:box;
    justify-content:space-between;
    padding: 10px 16px;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
span{}


.card {
  /* Add shadows to create the "card" effect */
   background-color: white;
    flex: 0 0 auto;
    scroll-snap-align: center;
    width:200px;
    height:450px;
     padding: 10px 16px;
    margin: 10px 5px;
    border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.carousel {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
     background-color: wheat;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    background: none;
    border: none;
   background-color: darkviolet;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}
#featured_cards{

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* adjust as needed */
}

form {
    display: flex;
    flex-direction: column;

}

form #site-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

