
/*Actions*/
ul.actions{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
. actions li{
    margin: 0 10px;
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.actions a{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.actions a:hover{
    background-color: #825965;
}

.actions button{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.actions button:hover{
    background-color: #825965;
}

.action primary{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.action primary:hover{
    background-color: #825965;
}

.action{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.action:hover{
    background-color: #825965;
}

.actions small{
    font-size: 0.8rem;
}

.action small{
    font-size: 0.8rem;
}
.actions col-6 col-12-small{
    flex: 30%;
    padding: 0 10px;
}

.actions stacked{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.action primary small{
    font-size: 0.8rem;
}

.action primary col-6 col-12-small{
    flex: 30%;
    padding: 0 10px;
}

.action primary stacked{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.action small{
    font-size: 0.8rem;
}

.action col-6 col-12-small{
    flex: 30%;
    padding: 0 10px;
}

.action stacked{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.action primary fit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.action primary fit a{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.action primary fit a:hover{
    background-color: #825965;
}

.action primary small fit{
    font-size: 0.8rem;

}