/*Bar Header Section*/
#bar-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #43701f;
    color: white;
}

#bar-head h1{
    font-size: 1.5rem;
}

#bar-head a{
    color: white;
    text-decoration: none;
}

#bar-head a:hover{
    text-decoration: underline;
}
