/*Blockquote*/
blockquote{
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-left: 5px solid #cc5803;
    margin-top: 20px;
}

blockquote p{
    font-size: 1rem;
}

blockquote cite{
    font-size: 0.8rem;
}