/*Breadcrumb*/
.breadcrumb{
    background-color: #f1f1f1;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb a{
    color: #43701f;
    text-decoration: none;
}

.breadcrumb a:hover{
    text-decoration: underline;
}

.breadcrumb a::after{
    content: '>';
    margin: 0 10px;
}
.breaadcrumb span{
    color: #43701f;
}