/*Buttons*/
button{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button:hover{
    background-color: #825965;
}

button.primary{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button.primary:hover{
    background-color: #825965;
}

button.small{
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button.small:hover{
    background-color: #825965;
}

button.large{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button.large:hover{
    background-color: #825965;
}

button.disabled{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
    color: white;
    cursor: not-allowed;
    margin-left: 10px;
}

button.disabled:hover{
    background-color: #dddad2;
}

button.primary.disabled{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
    color: white;
    cursor: not-allowed;
    margin-left: 10px;
}

button.primary.disabled:hover{
    background-color: #dddad2;
}

button.small.disabled{
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
    color: white;
    cursor: not-allowed;
    margin-left: 10px;
}

button.small.disabled:hover{
    background-color: #dddad2;
}

button.large.disabled{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
    color: white;
    cursor: not-allowed;
    margin-left: 10px;
}

button.large.disabled:hover{
    background-color: #dddad2;
}

button.primary.small{
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button.primary.small:hover{
    background-color: #825965;
}

button.primary.large{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button.primary.large:hover{
    background-color: #825965;
}

button.primary.disabled.small{
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
    color: white;
    cursor: not-allowed;
    margin-left: 10px;
}

button.primary.disabled.small:hover{
    background-color: #dddad2;
}

button.primary.disabled.large{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
    color: white;
    cursor: not-allowed;
    margin-left: 10px;
}

button.primary.disabled.large:hover{
    background-color: #dddad2;
}

button.small.disabled.primary{
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
    color: white;
    cursor: not-allowed;
    margin-left: 10px;
}

button.small.disabled.primary:hover{
    background-color: #dddad2;
}

button.large.disabled.primary{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
    color: white;
    cursor: not-allowed;
    margin-left: 10px;
}
