/* Carousel */
.carousel {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    background-color: #232c33;
    color: #fff;
}

.carousel-item {
    flex: 0 0 30%;
    margin-right: 20px;
    background-color: #cc5803;
    padding: 20px;
    border-radius: 10px;
}

.carousel-item h2 {
    margin: 0 0 10px;
}

.carousel-item p {
    margin: 0;
}