/*Form*/
form{
    margin-top: 20px;
}

form label{
    font-size: 1rem;
}

form input{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
}

form textarea{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
}

form select{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #dddad2;
}

form button{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

form button:hover{
    background-color: #825965;
}

form small{
    font-size: 0.8rem;
}

form col-6 col-12-small{
    flex: 30%;
    padding: 0 10px;
}

form stacked{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form primary{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

form primary:hover{
    background-color: #825965;
}

form primary small{
    font-size: 0.8rem;
}

form primary col-6 col-12-small{
    flex: 30%;
    padding: 0 10px;
}

form primary stacked{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form primary small{
    font-size: 0.8rem;
}

form col-6 col-12-small{
    flex: 30%;
    padding: 0 10px;
}

form stacked{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form primary fit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

form primary fit a{
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #cc5803;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

form primary fit a:hover{
    background-color: #825965;
}

form primary small fit{
    font-size: 0.8rem;

}
