/*Images*/
img{
    width: 100%;
    margin-top: 20px;
}

img.left{
    float: left;
    margin: 0 20px 20px 0;
}

img.right{
    float: right;
    margin: 0 0 20px 20px;
}

img.center{
    display: block;
    margin: 0 auto;
}

img.circle{
    border-radius: 50%;
}

img.rounded{
    border-radius: 10px;
}

img.thumbnail{
    border-radius: 20px;
}

img.responsive{
    width: 100%;
    height: auto;
}

img.responsive.small{
    width: 50%;
    height: auto;
}

img.responsive.large{
    width: 100%;
    height: auto;
}

img.responsive.medium{
    width: 75%;
    height: auto;
}

img.responsive.xlarge{
    width: 100%;
    height: auto;
}

img.responsive.xsmall{
    width: 25%;
    height: auto;
}
img.image fit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.box atl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.row gtr-50 gtr-uniform{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image {
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    display: block;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.left {
    float: left;
    margin: 0 2rem 2rem 0;
    top: 0.75rem;
}

.image.right {
    float: right;
    margin: 0 0 2rem 2rem;
    top: 0.75rem;
}

.image.fit {
    display: block;
    margin: 2.5rem 0;
    width: 100%;
}

.image.fit:first-child {
    margin-top: 0;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 4rem 0;
    width: 100%;
}

.image.main:first-child {
    margin-top: 0;
}

.image.main img {
    width: 100%;
}

@media screen and (max-width: 736px) {

    .image.fit {
        margin: 2rem 0;
    }

    .image.main {
        margin: 2rem 0;
    }

}