/*Preformatted Text/Code*/

pre{
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

code{
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
}

code.alt{
    background-color: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
}

code.alt small{
    font-size: 0.8rem;
}

code.alt small a{
    color: #43701f;
    text-decoration: none;
}

code.alt small a:hover{
    text-decoration: underline;
}

code.alt small span{
    color: #43701f;
}

code.alt small span a{
    color: #43701f;
    text-decoration: none;
}

code.alt small span a:hover{
    text-decoration: underline;
}

code.alt small span a::after{
    content: '>';
    margin: 0 10px;
}