/*Text Layout*/
/*Headings*/
h2{
    font-size: 2rem;
    margin-top: 20px;
}
h3{
    font-size: 1.5rem;
    margin-top: 20px;
}
h4{
    font-size: 1.2rem;
    margin-top: 20px;
}
h5{
    font-size: 1rem;
    margin-top: 20px;
}
h6{
    font-size: 0.8rem;
    margin-top: 20px;
}
/*Subheadings*/
h2.subheading{
    font-size: 1.5rem;
    margin-top: 20px;
}
h3.subheading{
    font-size: 1.2rem;
    margin-top: 20px;
}
h4.subheading{
    font-size: 1rem;
    margin-top: 20px;
}
h5.subheading{
    font-size: 0.8rem;
    margin-top: 20px;
}
h6.subheading{
    font-size: 0.6rem;
    margin-top: 20px;
}

/*Paragraphs*/
p{
    font-size: 1rem;
    margin-top: 20px;
}

/*Subtitles*/
.subtitle{
    font-size: 1.2rem;
    margin-top: 20px;
}

/*Links*/
a{
    color: #43701f;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #43701f;
}

a:active{
    color: #43701f;
}
